.navbar{
	margin-top: -5px;
    height: 80px;
    width: 100%;
    background-color: #f8f9fa;
    margin-bottom: 0px;
    position: fixed;
}
.navbar a:hover{
    text-shadow: 1px 1px black;
}

.navbar a{
	text-decoration: none;
	color: #7c7c7d;
	margin: 30px;
    margin-bottom: 30px;
    font-size: 22px;
    float: left;
    transition: 0.5s;
}

.logo{
	margin-top: -20px;
    margin-left: -4%;
    margin-right: 4%;
    width: 192px;
    float: left;
}

.titulo{
	text-align: center;
    margin: 3%;
    font-size: 1.9em;
    color: #4a4a4b;
    font-weight: lighter;
}

.texto{
    font-size: 17.6px;
    color: #4a4a4b;
    text-align: center;
    margin: 3%;
}

.cartadeservicos{
	height: 400px;
    background-color: #ffffff;
    padding-left: 16px;
}

body{
	margin: 0px;
	font-family: "Candara";  /*Fonte de tudo está como Candara*/
}

.titulodocard{
    font-weight: lighter;
    color: #4a4a4b;
}

.textodocard{
    font-weight: lighter;
    color: #4a4a4b;
    font-size: 32.8px;
    margin: 19.2px;
}

.servico1 {
    border-style: solid;
    border-width: 1px;
    border-color: #7c7c7d;
    box-shadow: 1px 5px 8px #4a4a4b;
    margin: 48px;
    background-color: white;
    width: 29%;
    font-size: 8px;
    float: left;
}
